.DescriptionCard01{
    background-color: var(--colorGray);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DescriptionCard02{
    background-color: var(--colorGray);
}

.DescriptionCard01 img{
    border-radius: 400px;
}

.DescriptionCard01, .DescriptionCard02{
    color: var(--textWhite);
    width: 45%;
    margin: 8px;
    box-shadow: var(--shadow);
    border-radius: var(--radiusCard);
    padding: 16px;
}

